# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import requests

download_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
target_tsv_path = "chipotle_data.tsv"

response = requests.get(download_url)
response.raise_for_status()
with open(target_tsv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("chipotle_data.tsv", sep='\t')
type(chipo)

pandas.core.frame.DataFrame

### Step 4. See the first 10 entries

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
chipo.shape

(4622, 5)

In [10]:
4622

4622

### Step 6. What is the number of columns in the dataset?

In [20]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [14]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [25]:
x = chipo.groupby('item_name')
x = x.sum()
x = x.sort_values(['quantity'], ascending=False)
x.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [28]:
x = chipo.groupby('item_name')
x = x.sum()
x = x.sort_values(['quantity'], ascending=False)
x.head(1)

(1, 2)

### Step 11. What was the most ordered item in the choice_description column?

In [33]:
y = chipo.groupby('choice_description').sum()
y = y.sort_values(['quantity'], ascending=False)
y.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [36]:
total_item_orders = chipo.quantity.sum()
print(total_item_orders)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [17]:
chipo.item_price.dtype
chipo.item_price = chipo.item_price.convert_dtypes()


chipo.item_price = chipo.item_price.replace(to_replace=r'\$', value='', regex=True)


chipo.item_price = pd.to_numeric(chipo.item_price)
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
# I still don't understand lambda functions.

#### Step 13.c. Check the item price type

In [38]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [44]:
revenue = (chipo.quantity * chipo.item_price).sum()
print(f'The total revenue was ${revenue}')

The total revenue was $39237.02

### Step 15. How many orders were made in the period?

In [49]:
chipo.order_id.max()

1834

### Step 16. What is the average revenue amount per order?

In [31]:
# Still stuck on this one. Will try again later.

# Solution 1
chipo
# mean_order_revenue = chipo.groupby(by=[chipo.order_id, chipo.item_price]).mean()
# mean_order_revenue

# for order in mean_order_revenue:
#     mean_order_revenue.item_price.sum()
#     print(order)

# mean_order_revenue = chipo.get([chipo.order_id, chipo.item_price])
chipo.item_price

df = pd.Series([chipo.order_id, chipo.item_price])
df.dtypes

dtype('O')

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [4]:
chipo.item_name.unique()
chipo.item_name.nunique()

50