# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

### Step 4. How many products cost more than $10.00?

In [44]:
chipo.item_price.dtype
chipo.item_price = chipo.item_price.convert_dtypes()
chipo.item_price = chipo.item_price.replace(to_replace=r'\$', value='', regex=True)
chipo.item_price = pd.to_numeric(chipo.item_price)
chipo.dtypes

prices_copy = chipo.item_price.sort_values(ascending=False)
prices_above_10 = prices_copy.drop_duplicates()

greater_than_10 = []

for items in prices_above_10:
    if items > 10.00:  
        greater_than_10.append(items)
        
print(greater_than_10)
greater_than_10_count = len(greater_than_10)

print(f'There are {greater_than_10_count} unique prices more than $10.00')
    
# get_prices_over_10(chipo.item_price)

    
# # chipo.item_name.unique()

[44.25, 35.25, 35.0, 33.75, 32.94, 27.75, 26.25, 26.07, 23.78, 23.5, 22.96, 22.5, 22.2, 22.16, 21.96, 18.5, 17.98, 17.8, 17.5, 16.98, 16.38, 15.0, 13.52, 13.35, 12.98, 11.89, 11.8, 11.75, 11.49, 11.48, 11.25, 11.08, 10.98, 10.58, 10.5]
There are 35 unique prices more than $10.00

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [4]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?