# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

### Step 4. How many products cost more than $10.00?

In [3]:
chipo.item_price.dtype
chipo.item_price = chipo.item_price.convert_dtypes()
chipo.item_price = chipo.item_price.replace(to_replace=r'\$', value='', regex=True)
chipo.item_price = pd.to_numeric(chipo.item_price)
chipo.dtypes

prices_copy = chipo.item_price.sort_values(ascending=False)
prices_above_10 = prices_copy.drop_duplicates()

greater_than_10 = []

for items in prices_above_10:
    if items > 10.00:  
        greater_than_10.append(items)
        
print(greater_than_10)
greater_than_10_count = len(greater_than_10)

print(f'There are {greater_than_10_count} unique prices more than $10.00')
    
# get_prices_over_10(chipo.item_price)

    
# # chipo.item_name.unique()

[44.25, 35.25, 35.0, 33.75, 32.94, 27.75, 26.25, 26.07, 23.78, 23.5, 22.96, 22.5, 22.2, 22.16, 21.96, 18.5, 17.98, 17.8, 17.5, 16.98, 16.38, 15.0, 13.52, 13.35, 12.98, 11.89, 11.8, 11.75, 11.49, 11.48, 11.25, 11.08, 10.98, 10.58, 10.5]
There are 35 unique prices more than $10.00

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [17]:
chipo.filter(items=['item_name', 'item_price'])

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [43]:
# chipo.item_name = chipo.item_name.sort_values(ascending=True)
# name_and_price = chipo.filter(items=['item_name', 'item_price'])
# x = name_and_price.item_name.sort_values(ascending=True)
# y = name_and_price.filter(items=['item_name', 'item_price'])
chipo.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [50]:
chipo.sort_values(by="item_price", ascending=False)
chipo.at[3598, 'quantity']

# or...

chipo.sort_values(by="item_price", ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [53]:
chipo.loc['Veggie Salad Bowl']

KeyError: 'Veggie Salad Bowl'

### Step 9. How many times did someone order more than one Canned Soda?